Source: vyatta-op-xml
Section: contrib/net
Priority: extra
Maintainer: Vyatta Package Maintainers <maintainers@vyatta.com>
Build-Depends: debhelper (>= 5), autotools-dev, g++, libsablot0-dev
Standards-Version: 3.7.2

Package: vyatta-op-xml
Architecture: any
Depends: host,
 vyatta-op,
 vyatta-bash | bash (>= 3.1),
 libc6,
 libsablot0
Description: Vyatta XML utils for operations
 Vyatta XML utils for operational commands.
